:root {
    --Linear-Gradient: hsl(236, 72%, 79%), hsl(237, 63%, 64%);
    --Very-Light-Grayish-Blue: hsl(240, 78%, 98%);
    --Light-Grayish-Blue: hsl(234, 14%, 74%);
    --Grayish-Blue: hsl(233, 13%, 49%);
    --Dark-Grayish-Blue: hsl(232, 13%, 33%);
}

.body {
    font-size: 15px
}

.app-container {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../images/bg-bottom.svg'), url('../images/bg-top.svg');
    background-position: left bottom, right top;
    background-repeat: no-repeat, no-repeat;
    height: 100vh;
    background-color: var(--Very-Light-Grayish-Blue);
	padding-top: 30px;
}

.toggle-annul-para {
    margin-right: 5px;
	color: var(--Light-Grayish-Blue);
	font-weight: 700;
}

.toggle-monthly-para {
    margin-left: 5px;
	font-weight: 700;
	color: var(--Light-Grayish-Blue);
}

.toggle-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
	margin-bottom: 24px;
	margin-top: 20px;
}

.app-header {
    color: var(--Grayish-Blue);
	margin-bottom: 20px;
	font-weight: 700;
	font-size: larger;
}

hr{
    color: black;
    width: 100%;
}

.plan-card-container {
    display: flex;
	justify-content: center;
    margin-top: 1rem;
    width: 80vw;
    height: 70%;
    padding-top: 10px;
}

.plan-card {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
	justify-content: space-around;
    align-items: center;
    background-color: white;
    text-align: center;
    padding-right: 16px;
    height: 85%;
	width: 400px;
    border-radius: 8px;
    font-weight: 700;
    color: var(--Grayish-Blue);
    font-size: 15px;
    list-style: none;
    padding-left: 0px;
    padding: 16px;
}

.dollor {
    font-size: 24px;
    margin-right: 8px;
    margin-top: 5px;


}


.plan-header{
	margin-bottom: 16px;
	
}

.plan-amount {
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: var(--Dark-Grayish-Blue);
    padding-bottom: 5px;
    font-size: 42px;
    font-weight: 700;
}

.plan-storage {
    padding: 3px;
}

.plan-users {
    padding: 3px;
}

.plan-users {
    padding: 3px;
}

.plan-upload {
    padding: 3px;
}


.plan-card:hover {
    background-image: linear-gradient(var(--Linear-Gradient));
    height: 90%;
	padding-right: 0px;
    margin-top: -16px;
    box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 18px 0px rgba(0, 0, 0, 0.75);
}

.plan-card:hover .plan-header {
    color: white;
}

.plan-card:hover .plan-amount {
    color: white;
}

.plan-card:hover .plan-storage {
    color: white;
}

.plan-card:hover .plan-users {
    color: white;
}

.plan-card:hover .plan-upload {
    color: white;
}

.plan-card:hover .plan-card-btn {
    background-image: linear-gradient(white, white);
    color: var(--Linear-Gradient);
}


.plan-card-btn {
    background-image: linear-gradient(var(--Linear-Gradient));
    border: 0px;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    margin-top: 12px;
    height: 2rem;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
	cursor: pointer;
}



.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
	background-color: #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* @media screen and (min-width: 480px) {
	.app-container {
		font-family: 'Montserrat', sans-serif;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-image: url('../images/bg-bottom.svg'), url('../images/bg-top.svg');
		background-position: left bottom, right top;
		background-repeat: no-repeat, no-repeat;
		height: 100vh;
		width: 100vw;
		background-color: var(--Very-Light-Grayish-Blue);
		padding-top: 30px;
	}
	
	.toggle-annul-para {
		margin-right: 5px;
		color: var(--Light-Grayish-Blue);
		font-weight: 700;
	}
	
	.toggle-monthly-para {
		margin-left: 5px;
		font-weight: 700;
		color: var(--Light-Grayish-Blue);
	}
	
	.toggle-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-family: 'Montserrat', sans-serif;
		margin-bottom: 24px;
		margin-top: 20px;
	}
	
	.app-header {
		color: var(--Grayish-Blue);
		margin-bottom: 20px;
		font-weight: 700;
		font-size: larger;
	}

	.plan-card-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-top: 1rem;
		padding-top: 10px;
	}

	.plan-card {
		font-family: 'Montserrat', sans-serif;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		background-color: white;
		text-align: center;
		padding-right: 16px;
		border-radius: 8px;
		font-weight: 501;
		color: var(--Grayish-Blue);
		font-size: 24px;
	}
	
.plan-amount {
    font-weight: 700;
    color: var(--Dark-Grayish-Blue);
    padding-bottom: 5px;
    font-size: 40px;
    font-weight: 700;
}

.plan-storage {
    padding: 3px;
}

.plan-users {
    padding: 3px;
}

.plan-users {
    padding: 3px;
}

.plan-upload {
    padding: 3px;
}

.plan-card-container:hover {
    margin-top: 1rem;
    height: 60%;
}

.plan-card:hover {
    background-image: linear-gradient(var(--Linear-Gradient));
    height: 110%;
	padding-right: 0px;
    margin-top: -16px;
    box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 18px 0px rgba(0, 0, 0, 0.75);
}

.plan-card:hover .plan-header {
    color: white;
}

.plan-card:hover .plan-amount {
    color: white;
}

.plan-card:hover .plan-storage {
    color: white;
}

.plan-card:hover .plan-users {
    color: white;
}

.plan-card:hover .plan-upload {
    color: white;
}

.plan-card:hover .plan-card-btn {
    background-image: linear-gradient(white, white);
    color: var(--Linear-Gradient);
}

.plan-list {
    list-style: none;
    padding-right: 16px;
}


.plan-card-btn {
    background-image: linear-gradient(var(--Linear-Gradient));
    border: 0px;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    margin-top: 12px;
    height: 2rem;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
	cursor: pointer;
}
  } */